@page
@model groupproj.Pages.COVIDsignsModel
@{
    ViewData["title"] = "COVID-19 Signs";
}
<div class="bgR">
    
    <div class="Reminderpages">
    <img src="~/img/pic1.png" alt="covid pic" class="imgcovidsign" />
        <h1 class="text-center">Symptoms of<br><b>COVID-19</b></h1>
    <p class="text-dark"style="margin-bottom:0px !important;">
        The most common symptoms of COVID-19 are Fever, Dry cough, Fatigue. <br>
        Other symptoms that are less common and may affect some patients include Loss of taste or smell, Nasal congestion, Conjunctivitis (also known as red eyes), Sore throat, Headache,Muscle or joint pain,
        Different types of skin rash, Nausea or vomiting, Diarrhea, Chills or dizziness. Symptoms are usually mild. Some people become infected but only have very mild symptoms or none at all.<br><br>
        Symptoms of severe COVID‐19 disease include:<br>
        Shortness of breath, Loss of appetite, Confusion, Persistent pain or pressure in the chest, High temperature (above 38 °C).<br><br>
        Other less common symptoms are:<br>
        Irritability, Confusion, Reduced consciousness (sometimes associated with seizures), Anxiety, Depression, Sleep disorders, More severe and rare neurological complications such as strokes, brain inflammation, delirium and nerve damage.
        People of all ages who experience fever and/or cough associated with difficulty breathing or shortness of breath, chest pain or pressure, or loss of speech or movement should seek medical care immediately. If possible, call your health care provider, hotline or health facility first, so you can be directed to the right clinic.
    </p>
    </div>
</div>