@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<divs>
    <div class="text-center">
        <img src="~/img/1.jpg" class="slideimg1 slides" alt="pic1">
        <img src="~/img/2.jpg" class="slideimg2 slides" alt="pic 2" />
        <img src="~/img/3.jpg" class="mainimg slides" alt="pic 3" />
       </div>
</divs>