@page
@model PrivacyModel
@{
    ViewData["Title"] = "Settings";
}
<h1>@ViewData["Title"]</h1>
<!--INFO-->
<div class="white">
    
    <p class="sizes"><b>Account Settings</b></p>
       
    <P id="emailzy" class="optionL sizes" style="margin-left:0px;">Email account: </P>
    <button class="buttf" >Change password</button>
    <input type="button" class="buttf" value="Delete Account" style="background-color: red;">
      
</div>